.bg-darkcyan {
  background-color: darkcyan;
}

.bg-ghostwhite {
  background-color: GhostWhite;
}

.bg-cornsilk {
  background-color: cornsilk;
}

.text-cornsilk {
  color: cornsilk;
}

.app-icon-img {
  max-width: 120px;
}

.line-separation {
  border-top: 1px solid darkgray;
}
