@import "custom-style.css";

@font-face {
  font-family: MyFont;
  font-style: normal;
  font-weight: normal;
  src: local("MyFont"), url("../vendor/fonts/SanFranciscoFonts/SFUIDisplay-Regular.otf") format("woff");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("../assets/img/hex-striped-repeat.png"); */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url("../assets/images/backgrounds/background.png");
  background-repeat: repeat;
  /* font-family: MyFont;
  font-size: 16px; */
}

/* .main-container {
  width: 1000px;
  margin: 0 auto;
  background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
  }
} */
